<!DOCTYPE html>


<!--
	this is a default demo of anGrid
-->

<html>
<head>
	<meta content='text/html; charset=utf-8' http-equiv='Content-Type' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- lib -->	
	<link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
	<script SRC="lib/jquery-1.8.3.js"></script>
	<script src="lib/bootstrap/js/bootstrap.js"></script>
	<script src="lib/angular-1.0.3/angular.js"></script>
	<script src="lib/angular-1.0.3/angular-resource.js"></script>
	<script src="lib/angular-1.0.3/angular-sanitize.js"></script><!-- HTML Parser -->
	<!--[if lt IE 8]>
	<script src="lib/json2.js"></script>
	<![endif]-->
	<!-- mine -->
	<link rel="stylesheet" href="style/css/reset.css"><!-- my supplement of bootstrap -->
	<link rel="stylesheet" href="style/css/angrid.css"><!-- the css of angrid plugin  -->
	<link rel="stylesheet" href="style/css/table.css"><!-- the css of page  -->
	
	<script src="js/angrid.js"></script><!-- my grid plugin -->
	<script src="js/filter.js"></script><!-- custom common filter -->
	<script>
		function MainCtrl($scope) {
		 $scope.timeOfDay = 'morning';
		 $scope.name = 'Nikki';
		 $scope.me = 'MainCtrl';
		 $scope.array = [];
		 $scope.alternative = $scope.$eval($scope.array);
		 
		 $scope.setname = function(){
		 	$scope.name = "MainCtrl";
		 	$scope.me = $scope.name;
		 	$scope.array = [1,2,3];
		 }
		 
		}
		 
		function ChildCtrl($scope){
		 var parent = $scope.$parent;
		 console.log(parent)
		 $scope.name = 'Mattie';
		 $scope.setname = function(){
		 	$scope.name = "ChildCtrl";
		 	parent.me = $scope.name;
		 }
		}
		 
		function BabyCtrl($scope) {
		 $scope.timeOfDay = 'evening';
		 $scope.name = 'Gingerbreak Baby';
		 $scope.setname = function(){
		 	$scope.name = "BabyCtrl";
		 }
		}
	</script>
</head>


<body ng-app ng-controller="MainCtrl">
 <p>Good {{timeOfDay}}, {{name}}!&nbsp;<button ng-click="setname()">setname</button></p>
 <P>me: {{me}}</P>
 <P>array: {{array}}</P>
 <P>alternative: {{alternative}}</P>
 <div ng-controller="ChildCtrl">
   <p>Good {{timeOfDay}}, {{name}}!&nbsp;<button ng-click="setname()">setname</button></p>
   <p ng-controller="BabyCtrl" >Good {{timeOfDay}}, {{name}}!&nbsp;<button ng-click="setname()">setname</button></p>
 </div>

</body>

</html>