.th-list .col0 {
    background-color: #fff;
    left: 0;
    right: 0
}

.th-list .col1 {
    left: 0;
    width: 8.75%
}

.th-list .col2 {
    left: 8.75%;
    width: 8.75%
}

.th-list .col3 {
    left: 17.5%;
    width: 8.75%
}

.th-list .col4 {
    left: 26.5%;
    width: 5%
}

.th-list .col5 {
    left: 31.5%;
    width: 5%
}

.th-list .col6 {
    left: 36.5%;
    width: 20%
}

.th-list .col7 {
    left: 56.5%;
    width: 8.75%
}

.th-list .col8 {
    left: 65.25%;
    width: 8.75%
}

.th-list .col9 {
    left: 74%;
    width: 8.75%
}

.th-list .col10 {
    left: 82.75%;
    width: 8.75%
}

.th-list .col11 {
    left: 91.5%;
    width: 8.75%
}

.anGrid.th-large ul > li ol li.col1 {
    display: block;
    top: 30px;
    left: 0;
    width: 100%
}